name: Release CI
on:
  push:
    branches:
      - master
      - develop
env:
  FLUTTER_VERSION: '2.5.0'

jobs:
  deploy-android:
    name: "Build and deploy Android bundle to store"
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2.1.0
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - name: Install Flutter
        uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Generate configuration file
        env:
          APOLLINE_API_URL: ${{ secrets.APOLLINE_API_URL }}
          APOLLINE_PASSWORD: ${{ secrets.APOLLINE_PASSWORD }}
          APOLLINE_USERNAME: ${{ secrets.APOLLINE_USERNAME }}
          APOLLINE_DBNAME: ${{ secrets.APOLLINE_DBNAME }}
        run: dart scripts/configuration_generation.dart

      - name: Install dependencies
        run: flutter pub get
        working-directory: apolline-flutter

      - name: Configure keystore
        run: |
          echo "${{ secrets.UPLOAD_KEYSTORE }}" > upload.keystore.asc
          gpg -d --passphrase "${{ secrets.UPLOAD_KEYSTORE_PASSPHRASE }}" --batch upload.keystore.asc > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$KEYSTORE_KEY_ALIAS" >> key.properties
          echo "storePassword=$KEYSTORE_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$KEYSTORE_KEY_PASSWORD" >> key.properties
        env:
          PLAY_STORE_UPLOAD_KEY: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
          KEYSTORE_KEY_ALIAS: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          KEYSTORE_KEY_PASSWORD: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          KEYSTORE_STORE_PASSWORD: ${{ secrets.KEYSTORE_STORE_PASSWORD }}
        working-directory: apolline-flutter/android

      - name: Build Apolline bundle
        run: flutter build appbundle
        working-directory: apolline-flutter

      - name: Deploy production bundle to Play store
        if: contains(github.ref, "master")
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.science.apollineflutter
          releaseFiles: apolline-flutter/build/app/outputs/bundle/release/*.aab
          track: production
          whatsNewDirectory: releaseNotes

      - name: Deploy test bundle to Play store
        if: contains(github.ref, "develop")
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.science.apollineflutter
          releaseFiles: apolline-flutter/build/app/outputs/bundle/release/*.aab
          track: development
          whatsNewDirectory: releaseNotes